code {
    background-color: #eee;
    display: block;
    padding: 20px;
}

.list-group-mine .list-group-item {
    background-color: rgba(127,207,253,0.44);
}

.list-group-mine .list-group-item:hover {
    background-color: rgb(250, 234, 157);;
}

.rounded-top-2 {
    border-top-right-radius: 1.5rem!important;
    border-top-left-radius: 1.5rem!important;
}

.rounded-bottom-2 {
    border-bottom-left-radius: 1.5rem!important;
    border-bottom-right-radius: 1.5rem!important;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: rgba(127,207,253,0.44);
    color: #495057;
}

.nav-tabs .nav-item .nav-link {
    color: #495057;
    border-color: rgba(127,207,253,0.44);
}


html {
    min-height: 100%;
    position: relative;
}
body {;
    padding-bottom: 5%;

}